<div>
  <h2>Welcome New Students!</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Favorite Color</h4>
  <h3>
    <%= @fav_color %>
  </h3>
  <h4>Graduation Year</h4>
  <h3>
    <%= @grad_year %>
  </h3>
  
</div>

<br><br>
<%= link_to "Make a teacher form", teachers_new_path %>